@font-face {
    font-family: 'font';
    src: url('https://tarballwalf.github.io/fonts/font-webfont.woff2') format('woff2'),
         url('https://tarballwalf.github.io/fonts/font-webfont.woff') format('woff');
}